.form-control {
  &.m-small {
    width: 8em;
  }

  &.m-large {
    width: 25em;
  }

  &.m-full {
    width: 100%;
  }
}

.input {
  &-prefix,
  &-suffix {
    display: inline-block;
    text-align: center;
  }

  &-prefix {
    margin-right: 5px;
  }

  &-suffix {
    margin-left: 5px;
  }
}
